@model IEnumerable<WebApp.Models.Product>

@{
    ViewBag.Title = "Home Page";
}


@{

    int d = Model.Count();
    int i;
}

<div class="row bottom-padding">

    @for (i = 1; i < d; i++)
    {
        <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="single-product.html"><img src="~/images/@Model.ElementAt(@i).Photo" alt="image"></a>

            <div class="product__content content--center">
                <div class="@*film_label*@"><a href="/product/details/@Model.ElementAt(@i).Id"> @Model.ElementAt(@i).Nom </a></div><hr>
                <span class="badge badge-pill badge-danger">€&nbsp;@Model.ElementAt(@i).Prix</span>&nbsp;&nbsp;&nbsp;&nbsp;

                <a href="/cart/AddProductToCart/@Model.ElementAt(@i).Id" class="btn btn-danger m-1">Ajouter</a>
                <span class="add-to-cart"><i class="fas fa-cart-plus"></i></span>
            </div>
        </div>

    }
</div>



