@model IEnumerable<WebApp.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card-deck-wrapper">
    <div class="card-deck">

        @foreach (var item in Model)
        {
            <div class="card card-inverse card-success text-center col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-1">
                <div class="card-block">
                    <div class="card m-3" style="min-width: 19rem; max-width:30.5%;">
                        <div class="card-header">
                            <h3>@item.Nom</h3>
                        </div>

                        <img class="card-img-top imageThumbnail" src="~/images/@item.Photo"
                             asp-append-version="true" />

                        <div class="card-footer text-center">


                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary m-1" })

                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary m-1" })
                            <a href="#" class="btn btn-danger m-1">Ajouter</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
